/* LOADING CIRCLE */
.loader {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 0.8rem solid #464a5e;
  border-top: 0.8rem solid #af9e39;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 0.5s linear infinite;
}

.fade-element {
  animation: fade-element 2.5s infinite;
}

.transition--title {
  animation: travel--top 1.5s ease-in;
}

.transition--fade {
  animation: fade 0.75s ease-in;
}

.transition--fade-out {
  animation: fade-out 1.6s ease-in;
}

.transition--opacity-65 {
  animation: opacity-65 1.7s ease-in;
}

@keyframes opacity-65 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 65%;
  }
}

@keyframes travel--top {
  0% {
    /* color: green; */
  }
  100% {
    transform: translateY(-27rem);
    /* color: red; */
  }
}

@keyframes fade {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 65%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-element {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
    color: #af9e39;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0;
  }
}
