/*
  //Colors
    text = #333 aliceblue #eee #af9e39
    primary = #262833 
    default border = rgba(238, 238, 238, 0.35) solid 3px
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #262833;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
}

.background-img {
  background-image: linear-gradient(
      to right,
      rgba(38, 40, 51, 0.99),
      rgba(38, 40, 51, 0.95)
    ),
    url('img/background-img.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* *************** */
/* STARTING SCREEN */
/* *************** */
.start-screen {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.start--title {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: right;
  letter-spacing: 0.11rem;
  color: aliceblue;
}

.start--title::first-line {
  font-weight: 300;
  letter-spacing: -0.3rem;
}

.seperator {
  border: aliceblue solid 1px;
  opacity: 50%;
}

.start--input-name {
  height: 2.8rem;
  resize: none;
  font-size: 2.4rem;
  color: #eee;
  background-color: #262833;
  animation: slide-right 1s ease-in;
  border: rgba(238, 238, 238, 0.35) solid 3px;
}

.start--instruction {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  transform: translateY(3.5rem);
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #af9e39;
  text-align: right;
}

/* *************************** */
/* NOTE APP MAIN MENU SETTINGS */
/* *************************** */
.note-app--container {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 120rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgb(86, 90, 92, 0.45);
  border-radius: 5px;
  overflow: hidden;
}

.name {
  position: absolute;
  margin-top: 10rem;
  margin-left: 3.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  color: aliceblue;
}

.note--title {
  margin: 5rem 15rem 0 0;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: right;
  letter-spacing: 0.11rem;
  color: aliceblue;
}

.note--title::first-line {
  font-weight: 300;
  letter-spacing: -0.3rem;
}

.menu--title {
  color: #fbb81e;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 5rem 0 5rem 20rem;
}

.note-app--main {
  width: 100%;
  height: 100%;
  /* background-color: brown; */
  display: flex;
  gap: 5px;
  overflow: hidden;
}

/* *************** */
/* NAVIGATION MENU */
/* *************** */
.note-nav {
  width: 30rem;
  height: 61.375rem;
  background-color: #262833;
  margin-left: 1.2rem;
}

.nav-menu {
  width: 100%;
  height: 3.2rem;
  background-color: #af9e39;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
}

.nav-list {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.list-item {
  width: 100%;
  height: 5rem;
  list-style: none;
}

.list-btn {
  cursor: pointer;
  width: 100%;
  height: 3.6rem;
  background: none;
  border: none;
  /* background-color: crimson; */
  font-size: 2rem;
  font-weight: 400;
  color: aliceblue;
}

.list-btn:hover {
  background-color: rgba(238, 238, 238, 0.115);
}

/* ****************** */
/* NOTE AREA SETTINGS */
/* ****************** */
.note-area {
  width: 100%;
  height: 100%;
  /* background-color: darkblue; */
  margin-right: 1.2rem;
}

.subject-field {
  width: 100%;
  height: 2.8rem;
  border: none;
  margin-bottom: 5px;
  font-size: 2rem;
  text-align: center start;
  font-weight: 600;
  background: none;
  background-color: rgba(240, 248, 255, 0.5);
}

.text-field {
  width: 100%;
  height: 58rem;
  border: none;
  font-size: 2rem;
  font-weight: 400;
  background: none;
  background-color: rgba(240, 248, 255, 0.5);
}

/* *************** */
/* BUTTON SETTINGS */
/* *************** */
.btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
}

.more-btn {
  margin-right: 1.6rem;
}

/* ************************ */
/* MESSAGE WINDOW SETTINGS */
/* ************************ */
.message {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 15rem;
  /* opacity: 100%; */
  background-color: #262833;
}

.message--text {
  color: #353434;
  font-size: 3.2rem;
  font-weight: 500;
}

/* ************************ */
/* GENERAL/HELPER SETTINGS */
/* ************************ */
.hidden {
  display: none;
}

.selected {
  background-color: #92832f;
  color: #333;
  font-weight: 600;
}

.selected:hover {
  background-color: rgb(107, 99, 53);
}

/* TESTERS */
.btn--test-transition {
  position: absolute;
  transform: translateY(-35rem);
  padding: 1.2rem 2.5rem;
}

.test-text {
  color: #eee;
  font-size: 1.6rem;
  font-weight: 400;
}
