/*
  //Colors
    text = #333 aliceblue #eee #af9e39
    primary = #262833 
    default border = rgba(238, 238, 238, 0.35) solid 3px
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #262833;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
}

.background-img {
  background-image: linear-gradient(
      to right,
      rgba(38, 40, 51, 0.99),
      rgba(38, 40, 51, 0.95)
    ),
    url('img/background-img.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* *************** */
/* STARTING SCREEN */
/* *************** */
.start-screen {
  width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.start--title {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: right;
  letter-spacing: 0.11rem;
  color: aliceblue;
}

.start--title::first-line {
  font-weight: 300;
  letter-spacing: -0.3rem;
}

.seperator {
  border: aliceblue solid 1px;
  opacity: 50%;
}

.start--input-name {
  height: 2.8rem;
  resize: none;
  font-size: 2.4rem;
  color: #eee;
  background-color: #262833;
  animation: slide-right 1s ease-in;
  border: rgba(238, 238, 238, 0.35) solid 3px;
}

.start--instruction {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  transform: translateY(3.5rem);
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #af9e39;
  text-align: right;
}

/* *************************** */
/* NOTE APP MAIN MENU SETTINGS */
/* *************************** */
.note-app--main {
  width: 120rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgb(86, 90, 92, 0.45);
  border-radius: 5px;
}

.name {
  position: absolute;
  margin-top: 10rem;
  margin-left: 15rem;
  font-size: 4.8rem;
  font-weight: 400;
  color: aliceblue;
}

.note--title {
  margin: 5rem 15rem 0 0;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: right;
  letter-spacing: 0.11rem;
  color: aliceblue;
}

.note--title::first-line {
  font-weight: 300;
  letter-spacing: -0.3rem;
}

.menu--title {
  color: #fbb81e;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 5rem 0 5rem 20rem;
}

.nav-list {
  width: 22rem;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.nav-link {
  text-align: left;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  border: none;
  background: none;
  color: #fcc850;
  cursor: pointer;
}

.nav-link:hover {
  color: #fbb81e;
  font-weight: 700;
}

/* ***************** */
/* NEW NOTE SETTINGS */
/* ***************** */
.new-note {
  width: 100rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: brown;
  border-radius: 5px;
}

.note--subject {
  width: 80rem;
  margin: 0 auto;
  height: 2.8rem;
  resize: none;
  font-size: 2.4rem;
}

.note--body {
  width: 80rem;
  height: 40rem;
  margin: 0 auto;
  font-size: 2rem;
}

.btns {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* ************************ */
/* GENERAL/HELPER SETTINGS */
/* ************************ */
.hidden {
  display: none;
}

.pos--absolute {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* TESTERS */
.btn--test-transition {
  position: absolute;
  transform: translateY(-35rem);
  padding: 1.2rem 2.5rem;
}

.test-text {
  color: #eee;
  font-size: 1.6rem;
  font-weight: 400;
}
